@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #f1f1f1; */
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #fffefe;
  border-radius: 10px;
  /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  /* Color of the scrollbar thumb on hover */
}

.HomeBackground {
  background-image: url('../../public/images/Homepage_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Homepage_Sanet_Image {
  background-image: url('../../public/images/Homepage_Placeholder.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Life coach animations */
.industry {
  transition: all 0.6s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.6s forwards;
}

.fade-in {
  animation: fadeIn 0.6s forwards;
}

.fade-out-right {
  animation: fadeOutRight 0.6s forwards;
}

.fade-in-right {
  animation: fadeInRight 0.6s forwards;
}

.translate-left {
  animation: translateLeft 0.6s forwards;
}

.translate-right {
  animation: translateRight 0.6s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-264px);
  }
}

@keyframes translateRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(264px);
  }
}

/* Navbar animations */
.rotate-navbar-top {
  animation: rotateNavbarTop 0.6s forwards;
}

.rotate-navbar-middle {
  animation: rotateNavbarMiddle 0.6s forwards;
}

.rotate-navbar-bottom {
  animation: rotateNavbarBottom 0.6s forwards;
}

@keyframes rotateNavbarTop {
  0% {
    transform: rotate(0deg) translateY(0);
    /* No rotation or translation initially */
  }

  /* Rotate first from 0% to 50%, no translation yet */
  50% {
    transform: rotate(0deg) translateY(5px) translateX(5px);
    /* Rotate 45 degrees */
  }

  /* Then move down 5px after the rotation is done */
  100% {
    transform: rotate(45deg) translateY(5px) translateX(5px);
    /* Final translation downwards */
  }
}

@keyframes rotateNavbarMiddle {
  0% {
    transform: rotate(0deg);
    /* No rotation or translation initially */
  }

  /* Then move down 5px after the rotation is done */
  100% {
    transform: rotate(-45deg);
    /* Final translation downwards */
  }
}

@keyframes rotateNavbarBottom {
  0% {
    transform: rotate(0deg) translateY(0);
    /* No rotation or translation initially */
  }

  /* Rotate first from 0% to 50%, no translation yet */
  50% {
    transform: rotate(0deg) translateY(-5px) translateX(-5px);
    /* Rotate 45 degrees */
  }

  /* Then move down 5px after the rotation is done */
  100% {
    transform: rotate(45deg) translateY(-5px) translateX(-5px);
    /* Final translation downwards */
  }
}

/* Reverse Navbar animations */
.reverse-navbar-top {
  animation: reverseRotateNavbarTop 0.6s forwards;
}

.reverse-navbar-middle {
  animation: reverseRotateNavbarMiddle 0.6s forwards;
}

.reverse-navbar-bottom {
  animation: reverseRotateNavbarBottom 0.6s forwards;
}

/* Keyframes for reversing the top */
@keyframes reverseRotateNavbarTop {
  0% {
    transform: rotate(45deg) translateY(5px) translateX(5px);
  }

  50% {
    transform: rotate(0deg) translateY(5px) translateX(5px);
  }

  100% {
    transform: rotate(0deg) translateY(0);
  }
}

/* Keyframes for reversing the middle */
@keyframes reverseRotateNavbarMiddle {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Keyframes for reversing the bottom */
@keyframes reverseRotateNavbarBottom {
  0% {
    transform: rotate(45deg) translateY(-5px) translateX(-5px);
  }

  50% {
    transform: rotate(0deg) translateY(-5px) translateX(-5px);
  }

  100% {
    transform: rotate(0deg) translateY(0);
  }
}