@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #f1f1f1; */
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.HomeBackground {
  background-image: url('../../public/images/Homepage_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Homepage_Sanet_Image {
  background-image: url('../../public/images/Homepage_Placeholder.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Life coach animations */
.industry {
  transition: all 0.6s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.6s forwards;
}

.fade-in {
  animation: fadeIn 0.6s forwards;
}

.fade-out-right {
  animation: fadeOutRight 0.6s forwards;
}

.fade-in-right {
  animation: fadeInRight 0.6s forwards;
}

.translate-left {
  animation: translateLeft 0.6s forwards;
}

.translate-right {
  animation: translateRight 0.6s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-264px);
  }
}

@keyframes translateRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(264px);
  }
}