@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #f1f1f1; */
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.HomeBackground {
  background-image: url('../../public/images/Homepage_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Homepage_Sanet_Image {
  background-image: url('../../public/images/Homepage_Placeholder.png');
  background-size: cover;
  background-repeat: no-repeat;
}